@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
    font-family: 'Poppins', 'sans-serif';
}



body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: linear-gradient(to bottom left, #E8A49C, #3C4CAD);
    display: flex;
    align-content: center !important;
    justify-content: center;
}