@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@500&display=swap');

body {
    font-family: 'Poppins', 'sans-serif';
    min-height: 100vh;
    background: linear-gradient(to left, #E8A49C, #3C4CAD);
    display: flex;
    align-content: center !important;
    justify-content: center;
}

.login-card{
    position: relative;
    width: 500px;
    background: rgba(225,225,225,.3);
    padding: 6rem;
    border-radius: 20px;
    transition: 0.6s ease-in-out;
    margin: auto !important;
}

.login-card img{
    width: 100px;
}

.login-card-logo,
.login-card-header,
.login-card-footer {
    text-align: center;
    margin: auto;
}

.login-card a{
    text-decoration: none;
    align-content: center;
    justify-content: center;
}
.login-card a:hover{
    text-decoration: underline;
}

.login-card-header{
    margin-bottom: 2rem;

}

.login-card-form{
    display:flex;
    flex-direction: column;
    gap: 1.5rem;
}

.login-card-form .form-item {
    position: relative;
    width: 24rem;
}
.login-card-form .form-item .form-item-icon {
    position: absolute;
    top: 82rem;
    left: 1.4rem;
    font-size: 1.3rem;
    color: #747a81;
}

.login-card-form .form-item .label {
    position: absolute;
    left: 20px;
    top: 14px;
    pointer-events: none;
    font-size: 14px;
    color: #747a81;
    transition: .5s;
}

.login-card-form .checkbox {
    display: flex;
    align-items: center;
    gap: 7px;
}

.login-card-form .form-item-other {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(1rem*.8);
    margin-bottom: .5rem;
}

.login-card-footer {
    margin-top: 1.5rem;
    font-size: calc(1rem*.8);
}

.login-card input[type="text"],
.login-card input[type="text"] {
    border: none;
    outline: none;
    background: rgba(225,225,225,.3);
    padding: 1rem 1.5rem 1rem calc(1.5rem * 4);
    border-radius: 100px;
    width: 100%;
}

.login-card input[type="text"]:valid,
.login-card input[type="text"]:valid,
.login-card input[type="text"]:focus,
.login-card input[type="text"]:focus {
    background: rgba(225,225,225,.7);
    transition: width .5s ease;
}



.login-card input[type="text"]:valid ~ .label,
.login-card input[type="text"]:valid ~ .label,
.login-card input[type="text"]:focus ~ .label,
.login-card input[type="text"]:focus ~ .label {
    color: black;
    transform: translate(-2px);
}

.login-card-form button {
    background: rgba(225,225,225,.7);;
    border: none;
    color: black;
    padding: 1rem;
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background 1s;
}

.login-card-form button:hover{
    background-color: rgba(0,0,0,.85);
    color: rgba(225,225,225,.7);
    transition: background 1.5s;
    cursor: pointer;
}
