@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@500&display=swap');

.body {
    font-family: 'Poppins', 'sans-serif';
    min-height: 100vh;
    background: linear-gradient(to left, #E8A49C, #3C4CAD);
    display: flex;
    align-content: center !important;
    justify-content: center;
}

.search-container{
    position: relative;
    width: 500px;
    background: rgba(225,225,225,.3);
    padding: 6rem;
    border-radius: 20px;
    transition: 0.6s ease-in-out;
    margin: auto !important;
}


.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.search-box input{
    color: aliceblue;
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    padding-left: 32px;
}

.search-box input::placeholder{
    font-size: 20px;
    font-weight: 500;
    color: maroon;
    text-transform: capitalize;
}

.search-box button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: maroon;
    background: white;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s ease;
}

.search-box button:hover{
    color: #fff;
    background: maroon;
}

.search-box i{
    position: absolute;
    color: maroon;
    font-size: 28px;
}

.parking-details{
    text-align: center;
    justify-content: center;
    padding: 32px
}

.parking-details img{
    width: 60%;
    margin-top: 30px;
}

.parking-details .container{
    position: relative;
    width: 200px;
    height: 200px;
    background: #06283D;
    text-align: center;
    justify-content: center;
}

.parking-details .spot-availibility{
    position: relative;
    color: #06283D;
    font-size: 1rem;
    font-weight: 100 bold;
    margin-top: 30px;
    text-align: center;
    justify-content: center;
}

.parking-details .time-arrived{
    position: relative;
    color: #06283D;
    font-size: 1rem;
    font-weight: 100 bold;
    margin-top: 30px;
    text-align: center;
    justify-content: center;
}

.parking-details .time-elapsed{
    position: relative;
    color: #06283D;
    font-size: 1rem;
    font-weight: 100 bold;
    margin-top: 30px;
    text-align: center;
    justify-content: center;
}

.parking-details .spot-availibility span{
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
    justify-content: center;
    text-align: center;
}

.parking-details .time-arrived span{
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
    justify-content: center;
    text-align: center;
}

.parking-details .time-elapsed span{
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
    justify-content: center;
    text-align: center;
}



.parking-details .description{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.not-found{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}

.not-found img{
    width: 70%;
}

.not-found p{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn{
    to {
        scale: 1;
        opacity: 1;
    }
}